@page "/create"
@using System
@using System.Text
@using RentACar.Shared.Models
@using System.Net.Http.Headers
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject Blazor.Extensions.Storage.SessionStorage SessionStorage

<div class="create-page-background">

    <div class="field-container">

        <div class="form-group">
            <label for="brand" class="control-label"> Brand: </label>
            <input name="brand" bind="@Car.Brand" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="model" class="control-label"> Model: </label>
            <input name="model" bind="@Car.Model" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="year" class="control-label"> Year: </label>
            <input name="year" bind="@Car.Year" type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label for="engine" class="control-label"> Engine: </label>
            <select class="form-control" onchange="@OnEngineSelect">
                <option value="">- Select Engine -</option>
                @foreach (var engineType in Enum.GetValues(typeof(EngineType)))
                {
                <option value="@engineType">@engineType</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="seats" class="control-label"> Seat count: </label>
            <input name="seats" bind="@Car.Seats" type="number" class="form-control" />
        </div>

        @if (!Success)
        {
        <div style="color: red">There was an error</div>
        }
        else if (Count > 0)
        {
        <div style="color: green">@Count car(s) added to you collection</div>
        }

    </div>

    <div class="field-container">

        <div class="form-group">
            <label for="transmission" class="control-label"> Transmission: </label>
            <select class="form-control" onchange="@OnTransmissionSelect">
                <option value="">- Select Transmission -</option>
                @foreach (TransmissionType transmission in Enum.GetValues(typeof(TransmissionType)))
                {
                    <option value="@transmission">@transmission.GetName()</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="price" class="control-label"> Price/day (&euro;): </label>
            <input name="price" type="number" class="form-control" bind="@Car.Price" />
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ac" bind="@Car.Ac" checked />
            <label class="custom-control-label" for="ac">AC</label>
        </div>

        <div class="form-group">
            <label for="images" class="control-label"> Images: </label>
            <input id="image" name="images" type="file" class="form-control" onchange="@UploadFile" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn" onclick="@CreateCar">Save</button>
            <button class="btn" onclick="@Cancel">Cancel</button>
        </div>

    </div>

    <div class="clear-float"></div>

</div>

@functions
{

    public List<ByteArrayContent> Pictures { get; set; } = new List<ByteArrayContent>();
    public Car Car { get; set; } = new Car();
    public int Count { get; set; }
    public bool Success { get; set; } = true;

    protected override async Task OnInitAsync()
    {
        var token = await SessionStorage.GetItem<string>("token");
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
    }

    protected async Task CreateCar()
    {
        try
        {
            int carId = await Http.PostJsonAsync<int>("api/Cars/Create", Car);
            if (carId != 0)
                foreach (var picture in Pictures)
                    await Http.PostAsync($"/api/Cars/{carId}/AddPicture", picture);
            Pictures.Clear();
        }
        catch
        {
            Success = false;
        }
        Count++;

    }

    async Task UploadFile()
    {
        var data = await JsInterop.GetFileData("image");
        Pictures.Add(new ByteArrayContent(Convert.FromBase64String(data)));
    }

    protected void OnEngineSelect(UIChangeEventArgs engineChangeEvent)
    {
        EngineType engine;
        Enum.TryParse(engineChangeEvent.Value.ToString(), out engine);
        Car.Engine = engine;
    }
    protected void OnTransmissionSelect(UIChangeEventArgs transmissionChangeEvent)
    {
        TransmissionType transmission;
        Enum.TryParse(transmissionChangeEvent.Value.ToString(), out transmission);
        Car.Transmission = transmission;
    }

    protected void Cancel()
    {
        UriHelper.NavigateTo("/index");
    }
}