@page "/register"
@using RentACar.Shared.Models
@using RentACar.Client
@using System.Text

@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Register</h1>

<div class="container">
    <div class="form-group">
        <label for="lastname" class="control-label">Last name: </label>
        <input required for="lastname" bind="@InputLastname" type="text" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="firstname" class="control-label">First name: </label>
        <input required for="firstname" bind="@InputFirstname" type="text" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="email" class="control-label">Email: </label>
        <input required for="email" bind="@InputEmail" type="email" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="password" class="control-label">Password: </label>
        <input required for="password" bind="@InputPassword" type="password" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="confirmpassword" class="control-label">Confirm Password: </label>
        <input required for="confirmpassword" bind="@InputConfirmPassword" type="password" class="form-control"/>
    </div>

    @foreach (var error in Errors)
    {
        @if (error.Key.Contains("Password"))
        {
            <div><em style="color: red">@error.Value</em></div>
        }
    }

    <div class="form-group">
        <label for="city" class="control-label">City: </label>
        <input for="city" bind="@InputCity" type="text" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="address" class="control-label">Address: </label>
        <input for="address" bind="@InputAddress" type="text" class="form-control"/>
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-default" onclick="@RegisterUser">Register</button>
            <button class="btn" onclick="@Cancel">Cancel</button>
    </div>
</div>

@functions
{
    string InputLastname { get; set; }
    string InputFirstname { get; set; }
    string InputEmail { get; set; }
    string InputPassword { get; set; }
    string InputConfirmPassword { get; set; }
    string InputCity { get; set; }
    string InputAddress { get; set; }
    public Dictionary<string, string> Errors { get; set; } = new Dictionary<string, string>();

    protected async void RegisterUser() 
    {
        if (InputPassword.Equals(InputConfirmPassword)) 
        {
            var request = new RegistrationRequest()
                            {
                                Lastname = InputLastname,
                                Firstname = InputFirstname,
                                Email = InputEmail,
                                Password = InputPassword,
                                City = InputCity,
                                Address = InputAddress
                            };
            var response = await Http.PotJsonAsync<RegistrationResponse>("api/Registration", request);
            
            if (response.IsSuccessful)
                UriHelper.NavigateTo("/success");
            else
                Errors = response.Errors;
        }
    }

    protected void Cancel() 
    {
        UriHelper.NavigateTo("/");
    }
}