@page "/register"
@inherits RegisterBase

<div class="register-background">

    <div class="centered-content dialog-box">

        <p>Already have an account? <NavLink href="/login">Log in!</NavLink></p>
        <div class="form-group">
            <label for="lastname" class="control-label">Last name: </label>
            <input required for="lastname" bind="@RegistrationRequest.Lastname" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="firstname" class="control-label">First name: </label>
            <input required for="firstname" bind="@RegistrationRequest.Firstname" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="email" class="control-label">Email: </label>
            <input required for="email" bind="@RegistrationRequest.Email" type="email" class="form-control" />
        </div>
        
        @if (!ValidEmail)
        {
            <div><em style="color: red">@RegistrationRequest.Email is not a valid email address.</em></div>
        }
        @if (Errors != null)
        {
            @foreach (var error in Errors["email"])
            {
                <div><em style="color: red">@error</em></div>
            }
            @foreach (var error in Errors["username"])
            {
                <div><em style="color: red">@error</em></div>
            }
        }

        <div class="form-group">
            <label for="password" class="control-label">Password: </label>
            <input required for="password" bind="@RegistrationRequest.Password" type="password" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="confirmpassword" class="control-label">Confirm Password: </label>
            <input required for="confirmpassword" bind="@ConfirmPassword" type="password" class="form-control" />
        </div>

        @if (!PasswordsMatch)
        {
            <div><em style="color: red">Passwords do not match!</em></div>
        }
        @if (Errors != null)
        {
            @foreach (var error in Errors["password"])
            {
                <div><em style="color: red">@error</em></div>
            }
        }

        <div class="form-group">
            <label for="city" class="control-label">City: </label>
            <input for="city" bind="@RegistrationRequest.City" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="address" class="control-label">Address: </label>
            <input for="address" bind="@RegistrationRequest.Address" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn" onclick="@(async () => await RegisterUser())">Register</button>
            <button class="btn" onclick="@Cancel">Cancel</button>
        </div>

    </div>

</div>