@page "/profile"
@inherits ProfileBase

@using RentACar.Shared.Models

<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="btn" >
                <div onclick="@(() => SelectedPage = "personal")">Personal Info</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn" >
                <div onclick="@(() => SelectedPage = "announcements")">My announcements</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn" >
                <div onclick="@(() => SelectedPage = "rentals")">My rentals</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn" >
                <div onclick="@(() => SelectedPage = "account")">Account</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn" >
                <div onclick="@(() => SelectedPage = "garage")">Garage</div>
            </a>
        </li>
    </ul>
</div>

@if (SelectedPage.Equals("personal")) 
{
    <Personal User="@CurrentUser">

    </Personal>
} 
else if (SelectedPage.Equals("announcements"))
{
    <MyAnnouncements User="@CurrentUser">

    </MyAnnouncements>
}
else if (SelectedPage.Equals("rentals"))
{
    <MyRentals User="@CurrentUser">

    </MyRentals>
}
else if (SelectedPage.Equals("account"))
{
    <Account User="@CurrentUser">

    </Account>
}
else if (SelectedPage.Equals("garage"))
{
    <MyGarage User="@CurrentUser">

    </MyGarage>
}